@charset 'utf-8';

/* default */
:root {
    --main-color: blue;
}

body {
    height: 100vh;
    margin: 20px;
}

div > p > span {
    text-decoration: underline;
}

span {
    background-color: var(--main-color);
    color: white;
}

div p ~ span {
    background-color: var(--main-color);
}
