.find__function-box {
    display: flex;
    justify-content: space-between;
}
.find__function-box__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}
.find__function-box__icons > span {
    margin-top: 10px;
    font-weight: 600;
    opacity: 0.8;
    text-align: center;
    vertical-align: middle;
}

.find__recommend-box__header {
    display: block;
    margin-top: 20px;
    padding-top: 10px;
    border-top: var(--screen-border);
    font-size: 15px;
    font-weight: bold;
}

.find__recommend-box__contents {
    border-bottom: var(--screen-border);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find__openchat {
    margin-top: 10px;
}
.find__openchat-header {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
}
.find__openchat-header > span > i {
    margin-left: 5px;
}

.find__openchat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: var(--screen-border);
    opacity: 0.8;
}

.find__openchat-item__text > h2 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 3px;
}
.find__openchat-item__text > h4 {
    font-size: 15px;
    margin-bottom: 3px;
}
.find__openchat-item__text > span {
    font-size: 15px;
}

.find__openchat-item__thumb {
    position: relative;
}
.find__openchat-item__thumb > img {
    border-radius: 10%;
}
.find__openchat-item__thumb-like {
    font-size: 15px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 10px;
    padding: 3px 7px;
    border-radius: 25%;
    opacity: 0.7;
}
.find__openchat-item__thumb-like::before {
    content: '♥';
    color: white;
    font-size: 11px;
    opacity: 1;
}
