@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Common */
@import './common/reset.css';
@import './common/variavles.css';

/* Components */
@import './components/status-bar.css';

/* screens */
@import './screens/login.css';

/* global */
body {
    font-family: 'Open Sans', sans-serif;
}
#wrap {
    box-sizing: border-box;
}

.nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1vh 5vw;
    background-color: var(--nav--backgroundColor);
    border-top: 1px solid rgba(121, 121, 121, 0.2);
    border-bottom: 1px solid rgba(121, 121, 121, 0.2);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__btn {
    padding: 10px;
}
