.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1vh 5vw;
    background-color: var(--nav--backgroundColor);
    border-top: 1px solid rgba(121, 121, 121, 0.2);
    border-bottom: 1px solid rgba(121, 121, 121, 0.2);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__btn {
    padding: 10px;
}

.nav__link {
    position: relative;
}
.nav__notification {
    position: absolute;
    top: -8px;
    right: -8px;
}
.nav_dot {
    display: block;
    position: absolute;
    top: -2px;
    right: -5px;
}
